@import '@zendesk/garden-css-tags/src/custom';

:root {
  --zd-tag--custom-accent-color: var(--zd-label-color);
}

.default {
  composes: c-tag from '@zendesk/garden-css-tags';
  composes: c-tag--custom;
}

.is_focused {
  composes: is-focused;
}
