.default {
  composes: c-tag from '@zendesk/garden-css-tags';
}

.light {
  composes: c-tag c-tag--light from '@zendesk/garden-css-tags';
}

.dark {
  composes: c-tag c-tag--dark from '@zendesk/garden-css-tags';
}

.success {
  composes: c-tag c-tag--success from '@zendesk/garden-css-tags';
}

.warning {
  composes: c-tag c-tag--warning from '@zendesk/garden-css-tags';
}

.error {
  composes: c-tag c-tag--error from '@zendesk/garden-css-tags';
}

.small {
  composes: c-tag--sm from '@zendesk/garden-css-tags';
}

.large {
  composes: c-tag--lg from '@zendesk/garden-css-tags';
}

.pill {
  composes: c-tag--pill from '@zendesk/garden-css-tags';
}

.stretched {
  width: 100%;
}

.avatar {
  composes: c-tag__avatar from '@zendesk/garden-css-tags';
}

.remove {
  composes: c-tag__remove from '@zendesk/garden-css-tags';
}

.round {
  composes: c-tag--round from '@zendesk/garden-css-tags';
}

.rtl {
  composes: is-rtl from '@zendesk/garden-css-tags';
}

.is_focused {
  composes: is-focused from '@zendesk/garden-css-tags';
}
